body {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: 
        "hdr hdr hdr"
        "blueside sec redside"
        "ftr ftr ftr";
    font-family: Helvetica;
    background-color: #4c4c4c;
}

.main-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    
    
}
.cell {
    width: 65px;
    height: 65px;
    color:azure;
    border: 1px solid azure;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: drop-shadow(1px 1px 5px #ffffff); */
}

img {
    height: 30px;
    width: 30px;
    padding: 8px;
}

header {
    grid-area: hdr;
    background-color: #4c4c4c;
}

section {
    height: 400px;
    grid-area: sec;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: ftr;
    background-color: #4c4c4c;
    text-align: center;
    color: azure;
}

button {
    width: 50px;
    height: 50px;
    border: 5px solid azure;
    border-radius: 50%;
}

img {
   height: 25px;
   width: 20px; 
   padding: 4px;
}

.blue-side {
    grid-area: blueside;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.red-side {
    grid-area: redside;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.red {
    background-color: #c41e3d;
}

.blue {
    background-color: #5998c5;
}

.defeated-red {
    background-color: #c41e3d;
}

.defeated-blue {
    background-color: #5998c5;
}


h1 {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0;
    /* min-height: calc(100vh - 16px); */
    background: white;
    position: relative;
    background: #4c4c4c;
    color: #4c4c4c;
}
  
  h1:before{
    content: attr(data-text);
    position: absolute;
    background: azure;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 100% 90%;
    line-height: 0.9;
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
    animation: swing 5s infinite;
    animation-direction: alternate;
  }
  
  @keyframes swing{
    0%{
       -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%)
      clip-path: ellipse(120px 120px at -2.54% -9.25%)
    }
    50%{
      -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
      clip-path: ellipse(120px 120px at 49.66% 64.36%);
  
    }
    100%{
       -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%;);
      clip-path: ellipse(120px 120px at 102.62% -1.61%);
    }
  }
  
  