body {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: 
        "hdr hdr hdr"
        "blueside sec redside"
        "ftr ftr ftr";
    font-family: Helvetica;
    background-color: #4c4c4c;
}

.main-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    
    
}
.cell {
    width: 65px;
    height: 65px;
    color:azure;
    border: 1px solid azure;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: drop-shadow(1px 1px 5px #ffffff); */
}

img {
    height: 30px;
    width: 30px;
    padding: 8px;
}

header {
    grid-area: hdr;
    background-color: #4c4c4c;
}

section {
    height: 400px;
    grid-area: sec;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: ftr;
    background-color: #4c4c4c;
    text-align: center;
    color: azure;
}

button {
    width: 50px;
    height: 50px;
    border: 5px solid azure;
    border-radius: 50%;
}

img {
   height: 25px;
   width: 20px; 
   padding: 4px;
}

.blue-side {
    grid-area: blueside;
    /* border: 5px solid #5998c5; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: azure;
}

.red-side {
    grid-area: redside;
    /* border: 5px solid #c41e3d; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: drop-shadow(3px 3px 4px #dd4498); */
    color: azure;
}

.red {
    background-color: #c41e3d;
}

.blue {
    background-color: #5998c5;
}
